{# templates/layout.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="{{ baseUrl }}app/resources/css/main.css" />
    </head>
    <body>
        <!-- start #wrapper -->
        <div id="wrapper">
        <!-- start #main -->
        {% block main %}{% endblock %}
        <!-- end #main -->
    </div>
</body>
</html>