{# users.list.twig #}
{% extends "layout.twig" %}
{# javascript #}
{% block js %}
{% endblock %}

{# body #}
{% block main %}
    <!-- start #main -->
    <div id="main">
        <ul>
        {% for user in users %}
            <li>{{ user.open_uuid }}     |       {{ user.name }}</li>
        {% else %}
            <p>No users have been found.</p>
        {% endfor %}
        </ul>
    </div>
    <!-- end #main -->

{% endblock %}
