/* 
    Created on : Mar 29, 2014, 3:44:27 PM
    Author     : NGUYENThe
*/

#main-container
{    
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 900px;
    height: 500px;
}

#header-container
{
    width: 900px;
    height: 100px;
    background-color: buttonhighlight;
}

#header-container img
{
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:block;
}

#body-container
{
    width: 900px;
    min-height: 400px;
    background-color: buttonhighlight;
}

#error
{
    height: 50px;
    width: 900px;
    color: red;
}

.indicator {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 50px;
    height: 50px;
}